* {
    margin: 0%;
    margin-right: 0%;
    padding: 0%;
    /*background-color: #1a202c;*/
}

html, body {
    position: relative;
    height: 100%;
    background-color: #110f17;
}

body { 
    width: 100%;
    height: 100%;
}

/*      CONFIGURAÇÃO DO MENU 
-------------------------------------*/
.headermenu {
    width: 100%;
    background-color: #110f17;
    height: 10%;
    display: flex;
    z-index: 500;
    box-shadow: inset 0 -1px 0 #29292e;
}

h2 {
    color: white;   
}

nav {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav, ul {
    display: flex;
    flex-direction: row;
}

ul {
    font-family: 'Public Sans', sans-serif;
    list-style: none;
    padding: 0 250px;
}

li {
    padding: 0 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/*button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 36px;
    position: absolute;
    right: 20px;
    top: 20px;
}*/

li:hover, .logo:hover, button:hover {
    cursor: pointer;
    opacity: 0.8;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}

/*-------------------------------------*/

.oi {
    position: absolute;
    top: 180px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.hello {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(88, 241, 134);
}

.apresentação {
    margin-top: -6%;
}

.mapa {
    color: #c9c9c9;
    position: absolute;
    top: 355px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;


}

.fundo {
    position: relative;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    max-width: 100%;
}

#tornar {
    position: absolute;
    top: 180px;
    display: flex;
    z-index: 600;
    width: 100%;
    margin-top: 8%;
    font-family: 'Public Sans', sans-serif;
    font-size: 36px;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

.rodape {
    position: fixed;
    width: 100%;
    height: 5%;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-270deg, #09090a,#121214);
}

h1 {
    font-size: 54px;
    text-align: center;
}

h4 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

/*#menu {
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    color: gray;
    height: 100%;
}*/

/*#nomemenu {
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/