* {
    margin: 0%;
    margin-right: 0%;
    padding: 0%;
    /*background-color: #1a202c;*/
}

html, body {
    position: relative;
    height: 100%;
    background: linear-gradient(270deg,#09090a,#121214);
}

body { 
    width: 100%;
    height: 100%;
}

/*      CONFIGURAÇÃO DO MENU 
-------------------------------------*/
.headermenu {
    width: 100%;
    background-color: #110f17;
    height: 10%;
    display: flex;
    z-index: 500;
    box-shadow: inset 0 -1px 0 #29292e;
}

h2 {
    color: white;   
}

nav {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 350px;
}

nav, .ulmenu {
    display: flex;
    flex-direction: row;
}

.ulmenu {
    font-family: 'Public Sans', sans-serif;
    list-style: none;
    padding: 0 59px;
    margin-left: 50px;
}

.menu {
    padding: 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

/*button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 36px;
    position: absolute;
    right: 20px;
    top: 20px;
}*/

.menu:hover, .logo:hover, button:hover {
    cursor: pointer; 
    opacity: 0.8;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #dfdfdf;
}



/*-------------------------------------*/

/* 
--------------Apresentação------------*/
.oi {
    position: absolute;
    top: 90px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

.hello {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: rgb(88, 241, 134);
}

.apresentação {
    margin-top: -6%;
}

.mapa {
    color: #c9c9c9;
    position: absolute;
    top: 255px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

.background {
    position: relative;
}

.fundo {
    position: relative;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    max-width: 100%;
}

#tornar {
    position: absolute;
    top: 80px;
    display: flex;
    z-index: 600;
    width: 100%;
    margin-top: 8%;
    font-family: 'Public Sans', sans-serif;
    font-size: 36px;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

.botao {
    position: absolute;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    
    top: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    position: relative;
    background-color: #8257e5;
    padding: 10px 8px 8px 24px;
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 310px;
}

h3 {
    display: flex;
    float: left;
    margin-top: 9px;
    margin-right: 15px;
    font-size: 16px;
}

/* 
-------------------------------------*/

/*
---------Vídeo-----------*/
.video {
    width: 100%;
    height: 644px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 580px;
    
    
}

iframe {
    border-radius: 13px;
    box-shadow: 0px 2px 4px #8664d8;
}
/*-----------------------*/

.aprendizado {
    padding-top: 0px;
    width: 100%;
    display: flex;
    position: relative;
    height: 650px;
    justify-content: center;
    align-items: center;
    top: 298px;
    background: linear-gradient(270deg,#09090a,#121214);
    box-shadow: inset 0 -1px 0 #29292e;
}

/*.h31 {
    color: #fff;
    font-family: 'Public Sans', sans-serif;
    font-size: 36px;
    text-align: center;
    position: absolute;
    top: -250px;
}*/

.containera {
    position: absolute;
    width: 1110px;
    display: flex;
    justify-content: center;
}

.linha {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    width: 2px;
    height: 80px;
    top: -290px;
    background: linear-gradient(180deg,#996dff,rgba(153,109,255,0));
}

.astro {
   display: flex;
   position: absolute;
   top: -180px;
   left: -40px;
}

.maisde {
    float: right;
    color: #fff;
    text-align: left;
    font-family: 'Public Sans', sans-serif;
    margin-left: 120px;
    margin-top: 110px;
    font-size: 46px;
}

.green {
    color: #04d361;
}

.comeceaavancar {
    position: absolute;
    color: #fff;
    text-align: left;
    font-family: 'Public Sans', sans-serif;
    margin-left: 620px;
    margin-top: 230px;
    color: #c9c9c9;
}

.comecaragora {
    position: absolute;
    margin-left: 620px;
    margin-top: 290px;
    padding: 20px;
    width: 20%;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: #8257e5;
    color: #fff;
    background: #121214;
    text-transform: uppercase;
    opacity: 1;
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
}

.comecaragora:hover {
    background: #996dff;
    color: #fff;
    opacity: 1;
    transition: 0.4s;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    background-color: #110f17;
    position: bottom;
    width: 100%;
    margin-top: 298px;
    height: 350px;
    bottom: 0px;
    display: flex;
   /* background: linear-gradient(-270deg, #09090a,#121214);*/
}

.rodape1 {
    width: 80%;
}

.ulrodape {
    font-family: 'Public Sans', sans-serif;
    list-style: none;
    padding: 0 59px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
}

.logorodape {
    float: left;
    position: relative;
    top: -80px;
}

.titulosrodape1, .titulosrodape2, .titulosrodape3, .titulosrodape4 {
    padding: 0 55px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    top: -82px;
    position: relative;
    float: left;
}

h1 {
    font-size: 54px;
    text-align: center;
}



/*h4 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}*/

/*#menu {
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    color: gray;
    height: 100%;
}*/

/*#nomemenu {
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/