* {
    margin: 0%;
    margin-right: 0%;
    padding: 0%;
    /*background-color: #1a202c;*/
}

html, body {
    height: 80%;
    background-color: #110f17;
}

/*      CONFIGURAÇÃO DO MENU 
-------------------------------------*/
.headermenu {
    width: 100%;
    background-color: #110f17;
    height: 10%;
    display: flex;
    z-index: 500;
    box-shadow: inset 0 -1px 0 #29292e;
}

h2 {
    color: white;   
}

nav {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav, ul {
    display: flex;
    flex-direction: row;
}

ul {
    font-family: 'Public Sans', sans-serif;
    list-style: none;
    padding: 0 250px;
}

li {
    padding: 0 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/*button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 36px;
    position: absolute;
    right: 20px;
    top: 20px;
}*/

li:hover, .logo:hover, button:hover {
    cursor: pointer;
    opacity: 0.8;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}

/*-------------------------------------*/


.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
}

.container {
    position: absolute;
    width: 100%;
    height: 729px;
    top: 96px;
    right: 0px;
    background-color: #110f17;
    box-shadow: inset 0 -1px 0 #29292e;
}

.apresentação {
    z-index: 600;
    position: absolute;
}

.fundo {
    position: relative;
    top: -186px;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    max-width: 100%;
}

.tornar {
    z-index: 600;
    width: 510px;
    margin-top: 8%;
    margin-left: 15%;
    font-family: 'Public Sans', sans-serif;
    font-size: 36px;
    color: rgb(255, 255, 255);
}

.rodape {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 825px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-270deg, #09090a,#121214);
}

h4 {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}

/*#menu {
    font-family: 'Public Sans', sans-serif;
    font-size: 20px;
    color: gray;
    height: 100%;
}*/

/*#nomemenu {
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/